parameters:

imports:
    - {resource: '../src/UserModule/Infrastructure/DependencyInjection/services.yaml'}
    - {resource: '../src/TaskModule/Infrastructure/DependencyInjection/services.yaml'}

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'
            - '../src/Tests/'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    kernel.event_listener.json_request_transformer:
        class: Qandidate\Common\Symfony\HttpKernel\EventListener\JsonRequestTransformerListener
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 100 }

    _instanceof:
        App\TaskModule\Domain\Report\ReportFormatter\ReportFormatter:
            tags: ['report.report_formatter']


